<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113428856773-27ksnf2iq0ne51d18t4u48g3hsk9ood4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113428856773-27ksnf2iq0ne51d18t4u48g3hsk9ood4</string>
	<key>API_KEY</key>
	<string>AIzaSyDvHm3KRNwz8M-s5A7Y0ZBVRzK8Nl77MeI</string>
	<key>GCM_SENDER_ID</key>
	<string>113428856773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smartdata.sdirect</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-5ce3d</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-5ce3d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113428856773:ios:36bb37bb1c5fba6cb9d5ac</string>
</dict>
</plist>